In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../Instructions/Resources/schools_complete.csv"
student_data_to_load = "../Instructions/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
num_schools = len(school_data)
dnum_students = len(student_data)
dtotal_budget = school_data["budget"].sum()
davg_math = student_data["math_score"].mean()
davg_read = student_data["reading_score"].mean()
dscore = (davg_math + davg_read)/2

dpass_math = len(student_data.loc[student_data["math_score"]>=70,:])
dpercent_pass_math = dpass_math/dnum_students * 100

dpass_read = len(student_data.loc[student_data["reading_score"]>=70,:])
dpercent_pass_read = dpass_read/dnum_students * 100

dpass_rate = (dpercent_pass_math + dpercent_pass_read) / 2

district_df = pd.DataFrame([{"Total Schools":num_schools,"Total Students":dnum_students,"Total Budget":dtotal_budget,
                            "Average Math Score":davg_math, "Average Reading Score":davg_read, "Average Score":dscore,
                            "% Passing Math":dpercent_pass_math,"% Passing Reading":dpercent_pass_read,
                             "% Passing Overall":dpass_rate}])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Average Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853,85.805463,80.393158

In [4]:
school_names_l = school_data["school_name"].tolist()

school_info_df = pd.DataFrame()
for school in range(0,len(school_names_l)):
    
    school_name = school_names_l[school]
    school_spec_df = school_data_complete.loc[school_data_complete["school_name"] == school_name,:]

    school_type = school_spec_df["type"].max()
    num_students = len(school_spec_df)
    total_budget = school_spec_df["budget"].max()
    budget_per_student = total_budget/num_students
    avg_math = school_spec_df["math_score"].mean()
    avg_read = school_spec_df["reading_score"].mean()
    score = (avg_math + avg_read)/2
    pass_math = len(school_spec_df.loc[school_spec_df["math_score"]>=70,:])
    percent_pass_math = pass_math/num_students * 100
    pass_read = len(school_spec_df.loc[school_spec_df["reading_score"]>=70,:])
    percent_pass_read = pass_read/num_students * 100
    pass_rate = (percent_pass_math + percent_pass_read)/ 2

    
    school_spec_info_df = pd.DataFrame([{"School Name":school_name, "School Type":school_type, "Total Students":num_students,
                                         "Total Budget":total_budget, "Average Math Score":avg_math, 
                                         "Average Reading Score":avg_read, "Average Score":score,
                                         "% Passing Math":percent_pass_math,"% Passing Reading":percent_pass_read,
                                         "% Passing Overall":pass_rate}])

    school_info_df = school_info_df.append(school_spec_info_df)
#school_info_df

In [5]:
top_schools_df = school_info_df.sort_values("% Passing Overall", ascending = False)
#top_schools_df.head()

In [6]:
bottom_schools_df = school_info_df.sort_values("% Passing Overall")
#bottom_schools_df.head()

In [18]:
# Create a table that lists the average Reading Score for students of each grade level 
# (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school
# Combine the series into a dataframe
# Optional: give the displayed data cleaner formatting

grouped_school_df = school_data_complete.groupby(["school_name", "type"])


# grade_9_df = school_data_complete.groupby["school_name"]
# grade_10_df = school_data_complete.loc[school_data_complete["grade"] == "10th"]
# grade_11_df = school_data_complete.loc[school_data_complete["grade"] == "11th"]
# grade_12_df = school_data_complete.loc[school_data_complete["grade"] == "12th"]

# grade_9_df["reading_score"].mean()

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method